*{

box-sizing:border-box;

}


body{

margin:0;

font-family:"Inter", Arial, sans-serif;

background:#f8fafc;

}



.app{

min-height:100vh;

}



.main{

width:100%;

}



.topbar{

height:70px;

display:flex;

align-items:center;

padding-left:80px;

background:white;

border-bottom:1px solid #e5e7eb;

}



.menu-btn{

font-size:22px;

border:none;

background:white;

cursor:pointer;

width:40px;

height:40px;

border-radius:8px;

position:fixed;

top:15px;

left:20px;

z-index:2000;

display:flex;

align-items:center;

justify-content:center;

}

.page{

padding:30px;

}



.overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.45);

z-index:500;

}
.app-logo{

width:120px;

height:auto;

object-fit:contain;

margin-left:20px;

}