.sidebar{

position:fixed;

top:0;

left:-260px;

width:250px;

height:100vh;

background:#111827;

padding:30px 25px;

padding-top:80px;

transition:0.3s;

z-index:1000;

}


.sidebar.active{

left:0;

}



.sidebar h2{

color:white;

font-size:22px;

margin-bottom:40px;

}



.sidebar nav a{


display:block;

text-decoration:none;

color:#cbd5e1;

padding:12px 15px;

border-radius:8px;

margin-bottom:10px;

transition:0.2s;


}



.sidebar nav a:hover{

background:#1f2937;

color:white;

}



.logout{


margin-top:40px;

width:100%;

padding:12px;

border:none;

border-radius:8px;

cursor:pointer;

}
.sidebar-logo{

display:flex;

justify-content:center;

margin-bottom:40px;

}


.sidebar-logo img{

width:120px;

height:auto;

object-fit:contain;

}