/* ========== Page ========== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background: linear-gradient(
        135deg,
        #eef4ff,
        #f9fbff
        );
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* ========== Card ========== */

.auth-card {
    width: 100%;
    max-width: 430px;

    background: white;

    padding: 40px;

    border-radius: 16px;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
}

/* ========== Logo ========== */

.auth-logo {
    width: 200px;
    height: auto;

    margin: 0 auto 20px;

    display: block;
}

/* ========== Subtitle ========== */

.subtitle {

    text-align: center;

    color: #666;

    margin-bottom: 30px;

    font-size: 15px;

}

/* ========== Labels ========== */

.auth-card label {

    font-weight: 600;

    margin-bottom: 8px;

    color: #333;

}

/* ========== Inputs ========== */

.auth-card input {

    padding: 14px 16px;

    margin-bottom: 20px;

    border: 1px solid #dcdcdc;

    border-radius: 10px;

    font-size: 15px;

    outline: none;

    transition: 0.25s;

}

.auth-card input:focus {

    border-color: #2563eb;

    box-shadow:
0 15px 35px rgba(0,0,0,.08);
}

/* ========== Forgot Password ========== */

.forgot-password {

    margin-top: -10px;

    margin-bottom: 22px;

    text-align: right;

    color: #2563eb;

    font-size: 14px;

    cursor: pointer;

}

.forgot-password:hover {

    text-decoration: underline;

}

/* ========== Button ========== */

.auth-card button {

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: .25s;

}

.auth-card button:hover {

    background: #1d4ed8;

    transform: translateY(-2px);

}

/* ========== Bottom Text ========== */

.auth-switch {

    margin-top: 22px;

    text-align: center;

    color: #666;

}

.auth-switch a {

    color: #2563eb;

    text-decoration: none;

    font-weight: bold;

}

.auth-switch a:hover {

    text-decoration: underline;

}

/* ========== Mobile ========== */

@media (max-width:480px){

.auth-card{

padding:28px;

}

.auth-logo{

width:160px;

}

}